@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&display=swap");

.hero-wrapper {
  text-align: center;
  width: 100%;
  padding: 6rem 0;
  color: #c7fff6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  background: linear-gradient(to bottom, #e9a751, #d9ccc4, #e9a751);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(4rem, 8vw, 12rem);
  font-weight: 600;
  letter-spacing: 4px;
  margin: 1rem 0 0;
  color: #ffd658;
}

.hero-subtitle {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #ffc058;
}

.hero-button {
  margin-top: 2rem;
  background: #ffe158;
  color: #022c2b;
  border: none;
  padding: 12px 26px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 24px;
  transition: 0.3s ease-in-out;
}

.hero-button:hover {
  opacity: 0.85;
  transform: translateY(-3px);
}
