.criteria-parent {
  margin-top: 0.5rem; /* mt-2 */
}

/* space-y-1 → apply margin-top: 0.25rem to each child except the first */
.criteria-parent > * + * {
  margin-top: 0.25rem; /* space-y-1 */
}

.criteria {
  display: flex; /* flex */
  align-items: center; /* items-center */

  font-size: 0.75rem; /* text-xs */
  line-height: 1rem;
}

.check-icon {
  width: 1rem; /* size-4 → w-4 */
  height: 1rem; /* size-4 → h-4 */

  color: #22c55e; /* text-green-500 */

  margin-right: 0.5rem;
}

.x-icon {
  width: 1rem; /* size-4 → w-4 */
  height: 1rem; /* size-4 → h-4 */

  color: #6b7280; /* text-gray-500 */

  margin-right: 0.5rem;
}

.strength-meter-parent {
  margin-top: 0.5rem;
}

.strength-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.password-strength {
  font-size: 0.75rem; /* text-xs */
  line-height: 1rem;

  color: #9ca3af;
}

.strength-meter {
  display: flex;
  height: 1rem;
}

.strength-meter > * + * {
  margin-left: 0.25rem; /* space-x-1 */
}

.meter-line {
  height: 0.25rem; /* h-1 */
  width: 25%; /* w-1/4 */

  border-radius: 4px;

  transition-property: all;
  transition-duration: 300ms;
}
