* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #161616ff;
}

.header-wrapper {
  background: linear-gradient(
    to bottom,
    #032625,
    #032625,
    #7eccc8
  );
}