* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  padding: 0;
  color: #e2e2e2;
  background-image: url("../../public/home-reviews/car-bg.png");
}

.main-cards {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100vw;
}

.section-heading {
  align-items: center;
}

.section-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  position: absolute;
  top: 10rem;
}

.section-heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -8px;
  left: 0;
}

.section-heading::after {
  transform: scale(0, 1);
  transition: transform 250ms ease-in-out;
}

.section-heading:hover::after {
  transform: scale(0.9, 1);
}

.main-cards {
  height: 100vh;
}

.full-height {
  height: auto;
}

.section {
  height: 100%;
}

.section-heading {
  transform: rotate(-90deg);
}
