* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #161616ff; */
  background-image: url("/public/home-reviews/gmun-bg.png");
  background-size: cover;
}

.header-wrapper {
  /* background: linear-gradient(
    to bottom,
    rgba(3, 38, 37, 0.8),
    rgba(11, 60, 58, 0.8),
    rgba(126, 204, 200, 0.8)
  ); */
}