.loading {
  min-height: 100vh; /* min-h-screen */
  background: linear-gradient(
    to right,
    #111827,
    /* from-gray-900 */ #064e3b,
    /* via-green-900 */ #065f46 /* to-emerald-900 */
  );
  display: flex; /* flex */
  justify-content: center; /* justify-center */
  align-items: center; /* items-center */
  position: relative; /* relative */
  overflow: hidden;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border-style: solid;
  border-width: 4px;
  border-top-width: 4px;
  border-color: #e5e7eb;
  border-top-color: #22c55e;
  border-radius: 50%;
}
