@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  /* Reset body margins */
  padding: 0;
  /* Reset body paddings */
  height: 100%;
  /* Ensure height is fully covered */
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

body {
  margin: 0;
  padding-top: 70px;

  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #D4AF37;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  position: relative;
  margin: 30px 0;
  animation: breathing 3s ease-in-out infinite;
}

.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(120deg, transparent, rgba(255, 215, 0, 0.5), transparent);
  transform: skewX(-20deg);
  animation: shiimmer 3s linear infinite;
}

.heading:hover {
  transform: scale(1.05);
  color: #FFD700;
  text-shadow: 0 0 12px rgba(255, 215, 0, 0.9), 0 0 24px rgba(255, 215, 0, 0.7);
}

.heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #D4AF37, #FFD700, #D4AF37);
  border-radius: 2px;
  animation: glowingUnderline 2s ease-in-out infinite;
}

@keyframes breathing {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }
}

@keyframes shiimmer {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}

@keyframes glowingUnderline {

  0%,
  100% {
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.7), 0 0 16px rgba(255, 215, 0, 0.5);
  }

  50% {
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.9), 0 0 24px rgba(255, 215, 0, 0.7);
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 8vw;
    letter-spacing: 0.2em;
  }

  .heading::after {
    width: 40%;
    height: 0.25em;
  }
}